.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mobile {
    display: none;
}

.button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 90px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img {
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    object-fit: contain;
}

@media (max-width: 1400px) {
    .nav {
        gap: 10px;
    }
}

@media (max-width: 576px) {
    .nav {
        display: none;
    }
    .mobile {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}