.section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}

.info {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    flex-grow: 1;
    gap: 40px;

    overflow-y: auto;
    scroll-behavior: smooth;

    scrollbar-width: 1px;
    scrollbar-color: var(--primary);
    scrollbar-track-color: var(--purple);

    padding-right: 20px;
}

.info::-webkit-scrollbar {
    background-color: var(--primary);
    border-radius: 10px;
    width: 1px;
}

.info::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 1px;
}

.link {
    font-weight: 500;
}

@media (max-width: 1400px){
    .section{
        gap: 10px;
    }
    
}

@media (max-width: 576px) {
    .info {
        padding-right: 10px;
    }
    
}