.scan {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

.panel {
    position: absolute;
    z-index: 2;

    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: 20px;
}

.button{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.scene {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; /* Установите 16:9 или 4:3 */
  }