.loader {
    border: 2px solid var(--primary);
    border-radius: 50%;
    border-top: 2px solid var(--purple);
    width: 20px;
    height: 20px;
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.blocks {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.gift {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.giftModel {
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid var(--primary);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--container);
}

.giftImgWrapper {
    position: absolute;
    border: 3px solid var(--primary);
    border-radius: 20px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    z-index: 2;
    bottom: 40px;
    right: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.giftImg {
    border-radius: 15px;
    border: none;
    padding: 10px;
}

.choose {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.panel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.inputField {
    height: 40px;
    border: 3px solid var(--primary);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--container);
}

.input {
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    padding-left: 20px;
    border-radius: 20px;
    outline: none;
}

.inputState {
    width: 40px;
    height: 40px;
    position: relative;
}

.inputIcon {
    padding: 10px;
    object-fit: contain;
    position: absolute;
    border: none;
}

.cancel {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

.listWrapper {
    width: 100%;
    border: 3px solid var(--primary);
    border-radius: 20px;
    padding: 10px;

    height: 100px;
    flex-grow: 1;

    background-color: var(--container);
}

.list {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    overflow-y: scroll;
    overflow-x: hidden;

    scrollbar-width: 3px;
    scrollbar-color: var(--primary); 
    scrollbar-track-color: var(--purple);

    padding-right: 10px;
}

.list::-webkit-scrollbar {
    background-color: var(--primary); 
    border-radius: 10px;
    width: 3px; 
}

.list::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 3px; 
}

.item {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.active {
    background-color: var(--purple);
    border-radius: 10px;
}

.iconWrapper {
    width: 50px;
    height: 50px;
    border: 3px solid var(--primary);
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon {
    padding: 5px;
    border-radius: 50%;
    border: none;
    object-fit: contain;
}

.download {
    margin-left: auto;
    margin-top: 20px;;
}

@media (max-width: 1400px) {
    .blocks {
        gap: 10px;
    }

    .giftImgWrapper {
        width: 80px;
        height: 80px;

        bottom: 20px;
        right: 20px;
    }

    .choose {
        gap: 10px;
    }

    .panel {
        gap: 10px;
    }

    .itemWrapper {
        gap: 10px;
    }

    .iconWrapper {
        width: 40px;
        height: 40px;
    }

    .download {
        margin-top: 10px;;
    }
}

@media (max-width: 768px) {
    .blocks {
        height: 90%;
    }

    .gift {
        height: 80%;
    }
}

@media (max-width: 576px) {
    .blocks {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .gift {
        min-height: 200px;
        height: 60%;
    }

    .textScroll {
        overflow-y: scroll;
    }

    .choose {
        height: 40%;
    }
}

@media (height < 700px) and (width < 400px) {
    .giftModel {
        height: 130px;
    }
}