:root {
  /*

  --primary: #fff;
  --secondary: #050000;
  --neutral: #D9D9D9;

  --bg: #151224;
  --cyan: #0CFFD6;
  --pink: #D91480;
  --purple: #5821A6; 
  --container: rgba(0, 0, 0, 0.2);

  */
 

  /*
   --primary: hsl(0, 0%, 100%); 
   --secondary: hsl(0, 0%, 2%); 
   --neutral: hsl(0, 0%, 85%); 
 
   --bg: hsl(280, 70%, 10%); 
   --cyan: hsl(180, 100%, 50%); 
   --pink: hsl(320, 100%, 50%); 
   --purple: hsl(270, 50%, 40%); 
 
   --container: hsla(0, 0%, 0%, 0.2);
  */

  --primary: hsl(0, 0%, 100%); 
   --secondary: hsl(0, 0%, 2%); 
   --neutral: hsl(0, 0%, 85%); 
 
   --cyan: hsl(180, 100%, 50%); 
   --pink: hsl(290, 100%, 83%); 
   --purple: hsl(270, 90%, 30%); 
   --bg: hsl(278, 100%, 5%); 
 
   --container: hsla(0, 0%, 0%, 0.2);
}


html,
body {
  height: 100%;

}

* {
  margin: 0;
  box-sizing: border-box;
  color: var(--primary);
  font-family: var(--font-montserrat);
}

a {
  text-decoration: none;
}

.pagedesign {
  position: relative;

  padding: 20px;

  width: 100%;
  height: 100%;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.gradients {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: var(--bg);

  overflow: hidden;
}

/**/

.pink_1 {
  position: absolute;
  left: -10%;
  bottom: -10%;

  width: 45%;
  height: 55%;

  border-radius: 50%;
  background-color: var(--pink);

  filter: blur(10vw);
}

.purple_1 {
  position: absolute;
  left: -10%;
  bottom: 20%;

  width: 30%;
  height: 60%;

  border-radius: 50%;
  background-color: var(--purple);

  filter: blur(10vw);
}

.cyan_1 {
  position: absolute;
  left: 0%;
  bottom: 10%;

  width: 14%;
  height: 30%;

  border-radius: 50%;
  background-color: var(--cyan);

  filter: blur(8vw);

  animation: cyan_1 10s infinite ease;
}

/*
@keyframes cyan_1 {
  0%, 100% {
    left: 0%;
    bottom: 10%;
      background-color: var(--cyan);
      transform: rotate(-90deg);
  }
  50% {
      background-color: var(--purple);
  }
  75% {
      left: 43%;
      bottom: 35%;
      background-color: var(--pink);
      transform: rotate(90deg);
  }
}
*/



.pink_2 {
  position: absolute;
  right: -10%;
  top: -20%;

  width: 45%;
  height: 70%;

  border-radius: 50%;
  background-color: var(--pink);

  filter: blur(10vw);
}

.purple_2 {
  position: absolute;
  right: -20%;
  top: 20%;

  width: 40%;
  height: 70%;

  border-radius: 50%;
  background-color: var(--purple);

  filter: blur(10vw);
}

.cyan_2 {
  position: absolute;
  right: 0%;
    top: 10%;

  width: 14%;
  height: 30%;

  border-radius: 50%;
  background-color: var(--cyan);
  
  filter: blur(8vw);

  animation: cyan_2 10s infinite ease;
}

/*
@keyframes cyan_2 {
  0%, 100% {
    right: 0%;
    top: 10%;
      background-color: var(--cyan);
      transform: rotate(90deg);
  }
  50% {
      background-color: var(--purple);
  }
  75% {
      right: 43%;
      top: 35%;
      background-color: var(--pink);
      transform: rotate(-90deg);
  }
}
*/

/**/

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.content {
  margin: 40px auto;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.text-logotype {
  font-family: var(--font);
  color: var(--white);
  font-size: 30px;
}

.text-logotype:hover {
  text-shadow: 2px 2px 2px var(--pink);
  ;
}

.title-0 {
  font-weight: 500;
  font-size: 54px;
}

.title-1 {
  font-weight: 300;
  font-size: 26px;
}

.title-2 {
  font-weight: 300;
  font-size: 22px;
}

.title-3 {
  font-weight: 300;
  font-size: 18px;
}

.text-button {
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary);
}

.text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.text-caption {
  font-weight: 100;
  font-size: 16px;
  color: var(--neutral);
}

.text-footer {
  font-weight: 100;
  font-size: 14px;
  color: var(--neutral);
}

.number {
  font-weight: 500;
  font-size: 28px;
  color: black;
}

@media (max-width: 1400px) {
  .container {
    width: 100%;
    padding: 20px;
  }

  .content {
    margin: 40px auto;
  }

  .text-logotype {
    font-size: 28px;
  }

  .title-0 {
    font-size: 44px;
  }

  .title-1 {
    font-size: 22px;
  }

  .title-2 {
    font-size: 18px;
  }

  .title-3 {
    font-size: 14px;
  }

  .text-button {
    font-size: 14px;
  }

  .text {
    font-size: 14px;
    line-height: 18px;
  }

  .text-caption {
    font-size: 12px;
  }

  .text-footer {
    font-size: 12px;
  }

  .number {
    font-size: 24px;
  }
}

@media (max-width: 768px) {

  .text-logotype {
    font-size: 32px;
  }

  .title-0 {
    font-size: 54px;
  }

  .title-1 {
    font-size: 26px;
  }

  .title-2 {
    font-size: 22px;
  }

  .title-3 {
    font-size: 18px;
  }

  .text-button {
    font-size: 16px;
  }

  .text {
    font-size: 16px;
  }

  .text-caption {
    font-size: 14px;
  }

  .text-footer {
    font-size: 14px;
  }

  .number {
    font-size: 28px;
  }

  .pink_1 {
    filter: blur(15vh);
  }

  .purple_1 {
    filter: blur(15vh);
  }

  .cyan_1 {
    filter: blur(15vh);
  }

  .pink_2 {
    filter: blur(15vh);
  }

  .purple_2 {
    filter: blur(15vh);
  }

  .cyan_2 {
    filter: blur(15vh);
  }
}

@media (max-width: 567px) {
  .pagedesign {
    padding: 10px;
  }

  .content {
    margin: 40px auto;
  }

  .text-logotype {
    font-size: 22px;
  }

  .title-0 {
    font-size: 32px;
  }

  .title-1 {
    font-size: 18px;
  }

  .title-2 {
    font-size: 16px;
  }

  .title-3 {
    font-size: 14px;
  }

  .text-button {
    font-size: 14px;
  }

  .text {
    font-size: 14px;
  }

  .text-caption {
    font-size: 12px;
  }

  .text-footer {
    font-size: 12px;
  }

  .number {
    font-size: 28px;
  }
}

/*

@media (height < 700px) and (width < 400px) {
  .content {
    margin: 20px auto;
  }
}


*/