.button_round {
    width: 40px;
    height: 40px;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}

.icon {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    object-fit: contain;
    padding: 5px;
}

.button {
    padding: 10px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scalable {
    position: relative;
    height: 40px;
    padding: 10px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_scalable {
    display: none;
    position: absolute;
}

.text {
    display: inline;
}


@media (max-width: 576px) {
    .text {
        display: none;
    }

    .button_round {
        width: 30px;
        height: 30px;
    }

    .scalable {
        width: 30px;
        height: 30px;
    }

    .icon_scalable {
        padding: 5px;
        display: inline-block;
        border-radius: 50%;
        object-fit: contain;
    }
}