.button {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 20px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img {
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    object-fit: contain; 
}

@media (max-width: 1400px) {
    .button {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 768px) {
    .button {
        width: 100px; 
        height: 100px; 
    }
}

@media (max-width: 576px) {
    .button {
        width: 60px; 
        height: 60px; 
    }
}