.button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.light {
    position: absolute;
    z-index: -1;

    width: 140%;
    height: 150%;

    border-radius: 50%;
    background-color: var(--cyan);
    filter: blur(6vw);

    animation: around 10s infinite ease;
}

@keyframes around {

    0%,
    100% {
        left: -30%;
        top: -30%;
        background-color: var(--cyan);
        transform: rotate(90deg);
    }

    50% {
        background-color: var(--pink);
    }

    75% {
        left: 0%;
        top: 0%;
        background-color: var(--purple);
        transform: rotate(-90deg);
    }
}


.img {
    padding: 5px;
    background-color: white;
    border-radius: 25%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .light {
        filter: blur(6vh);
    }
}


@media (max-width: 576px) {
    .button {
        width: 50px;
        height: 50px;
    }
}