.button {
    position: relative;

    width: 60px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.light {
    position: absolute;
    z-index: -1;

    width: 110%;
    height: 120%;

    border-radius: 50%;
    background-color: #D91480;
    filter: blur(calc(2vw + 2vh));

    animation: around 10s infinite ease;
}

@keyframes around {
    0%, 100% {
        left: 10%;
        bottom: 10%;
        background-color: #0CFFD6;
        transform: rotate(90deg);
    }
    50% {
        background-color: #5821A6;
    }
    75% {
        left: -15%;
        bottom: -15%;
        background-color: #D91480;
        transform: rotate(-90deg);
    }
}

.img {
    padding: 5px;
    background-color: white;
    border-radius: 25%;
    object-fit: contain;
}

@media (max-width: 576px) {
    .button {
        width: 50px;
        height: 50px;
    }
}